.DS_Store
/releases

# android
android/*.iml
android/.gradle
android/local.properties
android/.idea/caches
android/.idea/libraries
android/.idea/modules.xml
android/.idea/workspace.xml
android/.idea/navEditor.xml
android/.idea/assetWizardSettings.xml
android/.idea/deviceManager.xml
android/build
android/captures
android/keystore
android/keystore.properties
*.iml
.gradle
.externalNativeBuild
.cxx

# web
web/node_modules
web/dist
web/*.local
